@import "../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "@fontsource/open-sans";

body {
    font-family: "Open Sans";
}